.footer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8rem;
  margin-left: auto;
  padding: 2rem;
  border-top: 2px solid black;
  flex-shrink: 0;
  font-size: 0.8125rem;
}
.footer p {
    margin-top: 0;
  font-size: 0.8125rem;
}
.footer a {
  font-size: 0.8125rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0;
}
