.header {
  height: 28rem;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 28rem;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-image: var(--header-bg-image);
  z-index: -1;
}

.header__wine-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 28rem;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-image: var(--header-bg-image);
  opacity: 0.4;
  z-index: -1;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  max-width: 60rem;
  padding-right: 1.5rem;

}

.header__subheading {
  max-width: 32rem;
}