.home {
    background-image: url("../assets/images/deperu_holler_body_bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

.image-gallery-slide .image-gallery-image{
  object-fit: none;
  width: 100%; 
  height: 100vh;
}