.image-gallery-slide .image-gallery-image {
  -webkit-object-fit: none; /* Safari fallback */
  object-fit: none;
  width: 100%;
  min-height: 100vh; /* Fix for Safari */
}

.home__wine-links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.home__wine-link {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home__wine-link-image {
  display: block; /* Ensure proper rendering */
  width: 12rem;
  height: 12rem;
  max-width: 100%;
  max-height: 12rem;
  background-size: cover; /* Acts like object-fit: cover */
  background-position: center center;
  background-repeat: no-repeat;
}

.home__wine-link-name {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.home__text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  font-size: 1.25rem;
  line-height: 2;
  font-family: "Muli", sans-serif;
}
