@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; /* Required for positioning the pseudo-element */
  overflow-x: hidden; /* To prevent horizontal scrolling caused by the pseudo-element */
  /* background-image: url("./assets/images/deperu_holler_body_bg.jpg");
  background-size: cover;
  background-position: center; */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/images/deperu_holler_body_bg.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1; /* Places the background behind the content */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

p {
  margin-top: 0.4rem;
  font-family: "Muli", sans-serif;
}
